<%= link_to "All pets", "/pets"%>
<%= link_to "All Shelters", "/shelters"%>

<h3> Here is the information for the shelter you selected </h3>
<p> Name: <%= @shelter.name %> </p>
<p> Address: <%= @shelter.address %> </p>
<p> City: <%= @shelter.city %> </p>
<p> State: <%= @shelter.state %> </p>
<p> Zip: <%= @shelter.zip %> </p>

<%= link_to "Our Pets", "/shelters/#{@shelter.id}/pets"%>
<%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %>
<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: "delete" %>