<h2> Here is the information for the shelter you selected </h2>
<h2> Name: <%= @shelter.name %> </h2>
<h2> Address: <%= @shelter.address %> </h2>
<h2> City: <%= @shelter.city %> </h2>
<h2> State: <%= @shelter.state %> </h2>
<h2> Zip: <%= @shelter.zip %> </h2>

<h2> <a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a> </h2>
<a href="/shelters/<%= @shelter.id %>" data-method="delete" rel="nofollow">Delete Shelter</a>