<h2> Here are all the pets: </h2>

<% @pets.each do |pet| %>
 <hr />
  <span id=<%="pet_#{pet.id}"%> >
    <div style="float: left, display:inline">
      <span> Name: <%=link_to pet.name, "/pets/#{pet.id}", :id => "pet_#{pet.id}_link" %> </span>
      <span style="padding-left=10%px%"> <%= link_to "Edit", "/pets/#{pet.id}/edit" %>  </span> 
      <%= link_to "Delete", "/pets/#{pet.id}", method: "delete" %>  
      <p>Age: <%=pet.age%> </p>
      <p>Sex: <%=pet.sex%> </p>
      <p>Shelter: <%=link_to pet.shelter.name, "/shelters/#{pet.shelter.id}", :id => "shelter_#{pet.shelter.id}_link" %> </p> 
    </div>
    <img src=<%= pet.image %> alt="a cute dog"> 
  </span>
<% end %>    


